# What is Python?

### Python is a general purpose programming language which can be used for developing web pages , for machine learning or developing any sort of simple applications.

## Advantages of Python:

1. Easy to read
2. Open Source 
3. Large Standard Libraries
4. OOPS

#### It was created by Guido Van Rossum in 1989.
#### He was inspired by the creator of his favorite show "Flying Circus" , Monty Python.
#### High Level interpreted language with easy syntax and dynamic semantics


High Level- It means that Python derives it components from the natural language that we humans use to communicate with each other.

Interpreted- Python code is compiled line by line which makes debugging errors much more easy but this comes with a cost as python is much slower than any other programming language.

Easy Syntax- Makes use of indentations instead of braces to distinguish what block of code comes under which class or function.

Dynamic Sematics - No need to initialize anything(automatically done by python).

# Features of Python:

1. Simplicity: Very Simple to use and easy to understand.
2. Open Source: Free for anyone to use.
3. Portability: Write the code in python and share with anybody you want . It will behave the same way for both.
4. Embeddable and Extensible: Python allows the code of other languages like C/C++to be embedded into it so that certain functions can be performed making Python even more powerful.
5. Interpreted: Compiled line by line .The tasks of CPU and memory management are handled by Pythion itself.
6. Huge Library: Has a large collection of Library like Numpy ,Pandas , Matplotlib,Scikit Learn which helps in solving a lot of problems 
7. Object Orientation: It supports OOPS.Object orientation basically breaks down complex problems of the world into code and help provide security to it to obtain better solutions.

# Who uses Python?

#### Google , Youtube- to provide better searches for users  
#### Netflix - uses machine learning to understand users choice and then recommend the movies

# Python Basics

1. Installing Python
2. First Code in Python .
3. Extensions used in Python.
4. Addition

# DATA TYPES IN PYTHON

## There are basically 6 data types in Python:

1. Numeric
2. Lists 
3. Tuples
4. Dictionary
5. Sets
6. Strings

### 1. Numeric

It is used to store numerical values in the variable

eg a=3 , a is the name of the variable and 3 is the value that is assigned to it 

They are immutable

eg a=20

You cant change 0 to any other number but you can change the value of the variable.

#####  Types:

Integers - 2, 3, 4 ,354

Float- 3.45

Complex Numbers -10 +3j

In [3]:
a=10
b=-10
c=3.142
d=0.142
e=10+3j
f=6j

In [4]:
print(a+b,c-d,e-f)
print(a-c,b-f,a*b)

0 3.0 (10-3j)
6.8580000000000005 (-10-6j) -100

In [14]:
## Type Conversion

#### It is used to convert datatypes from one form to another.


#s
s="10010"
c= int(s)
print(c)
type(c)

a=1
b=str(a)
print(b)
type(b)

s="brillica"
print(list(s))
print(tuple(s))
print(set(s))

10010
1
['b', 'r', 'i', 'l', 'l', 'i', 'c', 'a']
('b', 'r', 'i', 'l', 'l', 'i', 'c', 'a')
{'l', 'i', 'c', 'r', 'a', 'b'}

## 2.Lists

#####  Lists are a collections of various data types .A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]


#### Index : It is basically the address in which the data is stored .

In [35]:
my_list=[1,2,3,"Brillica", "Python"]
print(my_list)

[1, 2, 3, 'Brillica', 'Python']

### Accessing elements of a list - USING SLICING

In [36]:
#[Starting Index:Stopping Index:Skipping Index]

In [37]:
print(my_list[:])
print(my_list[3])
print(my_list[0:4])
print(my_list[:-1])
print(my_list[-1])
print(my_list[0:5:2])
print(my_list[3][:3])

[1, 2, 3, 'Brillica', 'Python']
Brillica
[1, 2, 3, 'Brillica']
[1, 2, 3, 'Brillica']
Python
[1, 3, 'Python']
Bri

### Adding Elements in a list

In [39]:
# APPEND

my_list.append([10,20])
print(my_list)

[1, 2, 3, 'Brillica', 'Python', [10, 20]]

In [40]:
# EXTEND

my_list.extend([10,20])
print(my_list)

[1, 2, 3, 'Brillica', 'Python', [10, 20], 10, 20]

In [41]:
#INSERT

my_list.insert(2,"Rishabh")
print(my_list)

[1, 2, 'Rishabh', 3, 'Brillica', 'Python', [10, 20], 10, 20]

In [42]:
#Concatenate
print(my_list+["ADD ONE MORE"])

[1, 2, 'Rishabh', 3, 'Brillica', 'Python', [10, 20], 10, 20, 'ADD ONE MORE']

In [43]:
my_list

[1, 2, 'Rishabh', 3, 'Brillica', 'Python', [10, 20], 10, 20]

In [44]:
#Multiply
print(my_list*2)

[1, 2, 'Rishabh', 3, 'Brillica', 'Python', [10, 20], 10, 20, 1, 2, 'Rishabh', 3, 'Brillica', 'Python', [10, 20], 10, 20]

In [45]:
my_list

[1, 2, 'Rishabh', 3, 'Brillica', 'Python', [10, 20], 10, 20]

In [46]:
#Count
my_list.count("Brillica")

1

In [47]:
#Index
my_list.index("Brillica")

4

In [63]:
#Sort
a=[1,2,10,20,19,54,4,6]
sorted(a)

[1, 2, 4, 6, 10, 19, 20, 54]

In [64]:
a

[1, 2, 10, 20, 19, 54, 4, 6]

In [65]:
a.sort(reverse=True)

In [66]:
a

[54, 20, 19, 10, 6, 4, 2, 1]

In [67]:
a.sort(reverse=False)

In [68]:
a

[1, 2, 4, 6, 10, 19, 20, 54]

### Deleting elements from a list

In [69]:
#Remove

a.remove(2)

In [70]:
a

[1, 4, 6, 10, 19, 20, 54]

In [74]:
#Delete
del my_list[2]

In [75]:
print(my_list)

[1, 2, 'Brillica', 'Python', [10, 20], 10, 20]

In [76]:
#pop

my_list.pop(3)

'Python'

In [77]:
print(my_list)

[1, 2, 'Brillica', [10, 20], 10, 20]

In [79]:
#clear

a.clear()

In [81]:
print(a)

[]

In [82]:
my_list2=my_list.copy()

In [84]:
print(my_list2)

[1, 2, 'Brillica', [10, 20], 10, 20]

## 3.Tuples

A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. Creating a tuple is as simple as putting different comma-separated values.

In [58]:
tup1=(1,2,3,["Brillica","Python"])
tup2=(4,5,6)
tup3=(7,8,9)
tup2+tup3

(4, 5, 6, 7, 8, 9)

In [59]:
# Slicing

tup1[2]

3

In [71]:
### Accessing is same as list

tup1[3][1]="Rishabh"
tup1

(1, 2, 3, ['Brillica', 'Rishabh'])

In [86]:
#Tuple with single element

c="Brillica",
print(type(c))

<class 'tuple'>

## Dictionary

Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. ... Each key-value pair in a Dictionary is separated by a colon :, whereas each key is separated by a 'comma'

In [ ]:
#eg: Contact book of phone

In [88]:
dict1={"a":1,"b":2,"c":3}
print(dict1)

{'a': 1, 'b': 2, 'c': 3}

In [89]:
type(dict1)

dict

### Accessing the elements in a dictionary

In [91]:
#Get

dict1.get("a")

1

In [92]:
## Adding and Changing elements in a dictionary


#Changing
dict1["a"]="Rishabh"

In [93]:
dict1

{'a': 'Rishabh', 'b': 2, 'c': 3}

In [95]:
#Adding

dict1["d"]=5

In [96]:
print(dict1)

{'a': 'Rishabh', 'b': 2, 'c': 3, 'd': 5}

In [97]:
#Other functions

In [98]:
dict1.items()

dict_items([('a', 'Rishabh'), ('b', 2), ('c', 3), ('d', 5)])

In [99]:
dict1.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [101]:
dict1.values()

dict_values(['Rishabh', 2, 3, 5])

## SETS

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Python's set class represents the mathematical notion of a set. ... 
This is based on a data structure known as a hash table.

In [107]:
set1={1,2,4,5,6,7,7}

set2={1,3,4,5,6}

In [108]:
print(set1)

{1, 2, 4, 5, 6, 7}

In [110]:
#Add
set1.add(8)

In [111]:
set1

{1, 2, 4, 5, 6, 7, 8}

In [113]:
#Union

set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [115]:
#Intersection

set1.intersection(set2)

{1, 4, 5, 6}

In [116]:
#Difference

set1.difference(set2)

{2, 7, 8}

In [126]:
#Symmetric difference

set1.symmetric_difference(set2)

{2, 3, 7, 8}

In [127]:
seta={1,2,3,4,5}
setb={6,7,8,9,0}
superset={1,2,3,4,5,6,7,8,9,0}

In [128]:
print(seta==setb)
print(seta != setb)
print(seta <= superset)
print(seta< superset)
print(seta<=setb)
print(seta<setb)

False
True
True
True
False
False

## Strings

A string in Python is a sequence of characters. ... Strings are immutable. This means that once defined, they cannot be changed. Many Python methods, such as replace() , join() , or split() modify strings. However, they do not modify the original string.

In [129]:
str1="Welcome to the tutorial"
str2="This is Python "

In [131]:
#Slicing

str1[0]

'W'

In [134]:
str1[0:9:2]

'Wloet'

In [136]:
str1[:2]

'We'

In [138]:
str1[::-1]

'lairotut eht ot emocleW'

In [146]:
print(str1.count("W"))
print(str1.split(" "))
print(str1.partition("to"))
print(str1.upper())
print(str1.lower())
print(str1.replace("Welcome","Hello"))

1
['Welcome', 'to', 'the', 'tutorial']
('Welcome ', 'to', ' the tutorial')
WELCOME TO THE TUTORIAL
welcome to the tutorial
Hello to the tutorial

## Operators in Python

1. Arithmetic operators
2. Assignment Operators 
3. Comparison Operators 
4. Logical Operators
5. Bitwise Operators
6. Identity Operators
7. Membership Operators

### Arithmetic Operators:

1. "+" Used to add two numbers
2. "-"  - Used to substract two numbers
3. "/"  - used to divide two numbers
4. "*"  - used to Multiply two numbers
5. "%"  - Gives the remainder
6. "**" - to raise the power

### Assignment Operators

They are used to assign values to variables 

1. "="   - Assign the value
2. "+=" - Add and assign the value.
3. "-="  - Substract and Assign
4. "*=" - Multiply and assign
5. "/="  - Divide and assign
6. "%="  - Find remainder and assign
7. "**=" - Find exponential and assign

In [4]:
#examples

a=5

add,sub,mul,div,expo=0,0,0,1,1  #Multiple variable assignment

In [5]:
add+=a
print(add)

5

In [6]:
sub-=a
print(sub)

-5

In [7]:
mul*=a
print(mul)

0

In [8]:
div/=a
print(div)

0.2

In [9]:
expo**=a
print(
expo)

1

### Comparison Operators

1. "==" - Compare if True
2. "!=" - Compare if not True
3. "<"  - Check if less than
4. ">"  - Check if greater than
5. "<=" - Check if lesser or equal to
6. ">=" - Check if greater or equal to

In [12]:
a=5
b=10

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

### Logical Operators:

They are used to obtain logic from the operands.

1. and - True if both are true
2. or -  True if either one of them is true
3. not - Gives the  opposite